<div role="toolbar" class=" d-inline-flex align-items-center mb-2" style="width: 100%;">
    <button class="btn btn-outline-secondary me-3" type="button" 
    (click)="goTo('/progetti')">
      Indietro
    </button>
    <h2>Dettagli progetto</h2>
</div>
<h3 class="subtitle mb-2">Media</h3>
<table class="table">
    <thead class="secondary-background">
      <tr >
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-3">Nome / Link</th>
        <th scope="col" class="col-2">Liberatorie</th>
        <th scope="col" class="col-3">Data</th>
        <th scope="col" class="col-3">
            <button class="btn  btn-primary toolbar-button"> 
                <it-icon name="plus" size="sm" color="white" class="me-2"></it-icon>
                Aggiungi media
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
        @for (file of (mediaList | paginator:centerCurrentPage:pageElements); track $index) {

            <tr class="hover">
              <th scope="row">
                @switch (file.tipo) {
                    @case ('image') {
                        <it-icon name="camera"></it-icon>
                    }
                    @case ('video') {
                        <it-icon name="video"></it-icon>
                    }
                    @case ('doc') {
                        <it-icon name="file-pdf"></it-icon>
                    }
                }
                
              

              </th>
              <td>
                @if(file.link){

                    <a href="{{file.link}}">{{file.link}}</a>
                }@else {
                    <a href="#">{{file.fileName}}</a>
                }
              </td>
              <td>{{file.liberatorie}}</td>
              <td>{{file.data  |  date:'dd-mm-yyyy'}}</td>
              <td>
                <div class="buttons d-flex align-item-center">
                  <button type="button" class="btn btn-outline-secondary btn-me icon-button"
             
                  >
                    <it-icon size="sm" name="pencil"></it-icon>
                  </button>
                  <button type="button"  class="btn btn-outline-secondary icon-button "
                  >
                    <it-icon size="sm" name="delete"></it-icon>
                  </button>
                </div>
              </td>
      
              
            </tr>
        }
    </tbody>
</table>
<it-pagination
[currentPage]="centerCurrentPage"
[visiblePages]="3"
[pageNumbers]="pagesNumber"
alignment="end"
(pageEvent)="rightPageChange($event)"></it-pagination>