<div role="toolbar" class=" d-inline-flex align-items-center mb-2" style="width: 100%;">
    <button class="btn btn-outline-secondary me-3" type="button" 
    (click)="goTo('/progetti')">
      Indietro
    </button>
    <h2>Dettagli progetto</h2>
</div>
<h3 class="subtitle mb-2">Media</h3>
<table class="table">
    <thead class="secondary-background">
      <tr >
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-3">Nome / Link</th>
        <th scope="col" class="col-3">Info</th>
        <th scope="col" class="col-1" style="text-align: center;">Liberatorie</th>
        <th scope="col" class="col-2" style="text-align: center;">Data</th>
        <th scope="col" class="col-2">
            <button class="btn  btn-primary toolbar-button"> 
                <it-icon name="plus" size="sm" color="white" class="me-2"></it-icon>
                Aggiungi media
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
        @for (file of (listaMedia | paginator:centerCurrentPage:pageElements); track $index) {

            <tr class="hover">
              <th scope="row">
                @switch (file.tipo) {
                    @case ('image') {
                        <span aria-label="File immagine" itTooltip="Immagine">

                            <it-icon name="camera" aria-hidden="true"></it-icon>
                        </span>
                    }
                    @case ('video') {
                        <span aria-label="File video" itTooltip="Video">

                            <it-icon name="video" ></it-icon>
                        </span>
                    }
                    @case ('doc') {
                        <span  aria-label="Documento" itTooltip="Documento">

                            <it-icon name="file-pdf" aria-hidden="true"></it-icon>
                        </span>
                    }
                }
                
              

              </th>
              <td>
                @if(file.link){

                    <a href="{{file.link}}" target="_blank">{{file.link}}</a>
                }@else {
                    <a href="#" (click)="anteprima($event)">{{file.fileName}}</a>
                }
              </td>
              <td>{{file.info ? file.info : '-'}}</td>
              <td style="text-align: center;">{{file.liberatorie}}</td>
              <td style="text-align: center;">{{file.data  |  date:'dd-mm-yyyy'}}</td>
              <td>
                <div class="buttons d-flex align-item-center">
                  <button type="button" class="btn btn-outline-secondary btn-me icon-button"
                    itTooltip="Modifica"
                    aria-label="Modifica"
                  >
                    <it-icon size="sm" name="pencil" aria-hidden="true"></it-icon>
                  </button>
                  <button type="button"  class="btn btn-outline-secondary icon-button "
                  itTooltip="Elimina"
                  aria-label="elimina"
                  (click)="rimuoviFile(file)"
                  >
                    <it-icon size="sm" name="delete" aria-hidden="true"></it-icon>
                  </button>
                </div>
              </td>
      
              
            </tr>
        }
    </tbody>
</table>
<it-pagination
[currentPage]="centerCurrentPage"
[visiblePages]="3"
[pageNumbers]="pagesNumber"
alignment="end"
[currentChanger]="changerValue"
[changerValues]="changerValues"
(changerEvent)="changerEvent($event)"
(pageEvent)="rightPageChange($event)"></it-pagination>

<div class="modal fade" tabindex="-1" role="dialog" id="eliminaModal" aria-labelledby="eliminaModalTitle" #eliminaModal>
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h2 class="modal-title h5 " id="eliminaModalTitle">Elimina Media</h2>
             <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                <it-icon name="close"></it-icon>
             </button>
          </div>
          <div class="modal-body">
             <p>Attenzione!</p> 
             <p>

                 Si sta per eliminare il file <strong>{{mediaToDelete?.fileName}}</strong>.
             </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-dismiss="modal" >Annulla</button>
            <button class="btn btn-secondary btn-sm" type="button" (click)="eliminaMedia()" >Elimina</button>
  
          </div>
       </div>
    </div>
  </div>