<div class="text-end mb-3">
  <button  class="btn btn-secondary" type="button" >
   Aggiungi Beneficiario
  </button>
</div>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Beneficiario</th>
      <th scope="col">Ruolo</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Contrbuto Realizzativo</th>
      <th scope="col">Informativa Privacy</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mario</td>
      <td>Verdi</td>
      <td>mario.verdi</td>
    </tr>
    <tr>
      <td>Francesco</td>
      <td>Bianchi</td>
      <td>francesco.bianchi</td>
    </tr>
    <tr>
      <td>Alessandro</td>
      <td>Rossi</td>
      <td>alessandro.rossi</td>
    </tr>
  </tbody>
</table>
