
.custom-avatar{
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    img{
        width: 70%;
        height: 70%;
    }
    &.small{
        width: 3rem;
        height: 2.5rem;
        background: url('../../../assets/mur_logo_bianco.svg');
        background-size: cover;

       
    }
}
nav{
    .right-zone{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        .search-box{
           padding: 1rem;
            width: 100%;
        }
    
    }
    ::ng-deep input[type=search]{
     border: 2px solid var(--secondary)!important;
     border-radius: 2rem;
    }
    ::ng-deep .autocomplete-icon{
        border-radius: 50%!important;
        padding: 0;
        margin: 0 0.7rem;
    
    }
}

.top-header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    color: white;
    padding: 0.3rem 0.5rem;
    h3{
        font-size: medium;
        margin: 0;
    }
    
 
    .info{
        padding: 0.3rem 0.5rem;
        display: flex;
        align-items: center;
        border-left: 1px solid white;
        border-right: 1px solid white;
        span{
            font-weight: bold;
            margin: 0 0.3rem;
        }
    }
    .right-zone{
        padding-top: 0;
        margin-left: auto;
    }
     
    .rounded-icon{
        width: 1.5em;
        height: 1.5em;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
    }
}
