<header class="top-header">
    <div class="custom-avatar small" >
        <!-- <p aria-hidden="true">XL</p> -->
        <span class="visually-hidden">Logo Ministero Università e ricerca</span>
    </div>
    <h3>Ministero dell'Università e della Ricerca</h3>
    <div class="right-zone">
        <div class="info">

            <span class="rounded-icon">
                <it-icon name="user"></it-icon>

            </span>
            <span class="d-none d-lg-block">{{userService.getUserName()}}</span>
        </div>
    
        
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid align-items-baseline">
    <a class="navbar-brand d-flex" href="#">
      <div class="custom-avatar" >
        <img [src]="logoSrc"/>
        <span class="visually-hidden">Logo researchitaly</span>
      </div>
      <div class="it-brand-text d-flex flex-column justify-content-center">
          <div class="it-brand-title">RESEARCHITALY</div>
          <div class="it-brand-tagline d-none d-md-block">Ricerca ed Innovazione a portata di click</div>
      </div>
    </a>
    <button class="navbar-toggler shadow-none border-0" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Menu">
      <it-icon name="burger"></it-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
   
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

      </ul>
      <div class="right-zone">
        <it-language-switcher mode="nav"></it-language-switcher>
        <div class="search-box">

          <it-autocomplete
          class="custom-search"
          label="Cerca nel sito"
          forceShowLabel="false"
          placeholder="Cerca"
          [autocompleteData]="regioni"
          (autocompleteSelectedEvent)="onAutocompleteSelected($event)" />  
        </div>
      </div>
    </div>
  </div>
</nav>