<header class="top-header">
    <div class="custom-avatar small" >
        <!-- <p aria-hidden="true">XL</p> -->
        <span class="visually-hidden">Logo Ministero Università e ricerca</span>
    </div>
    <h3>Ministero dell'Università e della Ricerca</h3>
    <div class="right-zone">
        <div class="info">

            <span class="rounded-icon">
                <it-icon name="user"></it-icon>

            </span>
            <span class="d-none d-lg-block">{{userService.getUserName()}}</span>
        </div>
    
        
    </div>
</header>
<it-header
[light]="false"
[showSearch]="false"
[sticky]="true"
[megamenu]="false"
[showSlim]="false"

>
<ng-container slimRightZone>
    <ul style="display: flex;">
        <li>
          <a href="#" aria-label="Facebook" target="_blank">
            <it-icon name="facebook"></it-icon>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Github" target="_blank">
            <it-icon name="github"></it-icon>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Twitter" target="_blank">
            <it-icon name="twitter"></it-icon>
          </a>
        </li>
      </ul>
</ng-container>
<!-- <ul class="link-list" slimLinkList>
    <li><a class="dropdown-item list-item" href="#">Link 1</a></li>
    <li><a class="list-item active" href="#" aria-current="page">Link 2 (Attivo)</a></li>
</ul> -->
    <ng-container brand>
        <a href="#">
            <div class="custom-avatar" >
                <img [src]="logoSrc"/>
                <!-- <p aria-hidden="true">XL</p> -->
                <span class="visually-hidden">Logo researchitaly</span>
            </div>
            <div class="it-brand-text">
                <div class="it-brand-title">RESEARCHITALY</div>
                <div class="it-brand-tagline d-none d-md-block">Ricerca ed Innovazione a portata di click</div>
            </div>
          
        </a>
    </ng-container>
    <div class="it-socials d-none d-md-flex flex-column" rightZone>
        <it-language-switcher mode="nav"></it-language-switcher>
        <p>Cerca</p>
    </div>
</it-header>