<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Programma*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center select-wrapper">
          <select id="programma" formControlName="programma"  (change)="programmaSelected(form.controls['programma'].value)">
            <option value="" disabled selected>Seleziona</option>
            @for (item of programmaList; track item) {
              <option [value]="item">{{item}}</option>
              }
              </select>
              @if(form.controls['programma'].errors && form.controls['programma'].touched){
                <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
              }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Fondo*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center select-wrapper">
          <select id="fondo" formControlName="fondo" (change)="fondoSelected(form.controls['fondo'].value)">
            <option value='' disabled selected>Seleziona</option>
            @for (item of fondoList; track item) {
              <option [value]="item">{{item}}</option>
              }
          </select>
          @if(form.controls['fondo'].errors && form.controls['fondo'].touched){
            <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
          }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Bando/Invito*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center select-wrapper">
          <select id="bando" formControlName="bando">
            <option value='' disabled selected>Seleziona</option>
            @for (item of bandoList; track item) {
              <option [value]="item">{{item}}</option>
              }
          </select>
          @if(form.controls['bando'].errors && form.controls['bando'].touched){
            <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
          }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Progetto*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <input type="text" id="progetto" formControlName="progetto">
          @if(form.controls['progetto'].errors && form.controls['progetto'].touched){
            <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
          }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Area Scientifica*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center select-wrapper">
          <select id="areaScientifica" formControlName="areaScientifica">
            <option value='' disabled selected>Seleziona</option>
            @for (item of areaScientificaList; track item) {
              <option [value]="item">{{item}}</option>
              }
          </select>
          @if(form.controls['areaScientifica'].errors && form.controls['areaScientifica'].touched){
            <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
          }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Output Progetto*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <input type="text" id="output" formControlName="output">
          @if(form.controls['output'].errors && form.controls['output'].touched){
            <footer class="text-start fst-italic text-danger">Campo Obbligatorio</footer>
          }
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2 offset-md-2">
        <p class="fw-semibold mb-0 pt-2">Finanziamento ricevuto (&euro;)*</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <input type="number" id="output" formControlName="finanziamento" [min]="0">
          @if(form.controls['finanziamento'].errors){
          <footer class="text-start fst-italic text-danger">Questo campo è obbligatorio e deve essere uguale 0 o superiore.</footer>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6 offset-md-2 text-end pt-2">
      @if(loading){
        <div class="progress-spinner progress-spinner-double size-sm progress-spinner-active">
          <div class="progress-spinner-inner"></div>
          <div class="progress-spinner-inner"></div>
          <span class="visually-hidden">Caricamento...</span>
        </div>
      }
    </div>
    <div class="col-2 text-end">
      <button  class="btn btn-secondary" type="submit" [disabled]="form.invalid || loading">
          Conferma
      </button>
    </div>
  </div>
</form>
