<div class="text-end mb-3">
  <button  class="btn btn-secondary" type="button" >
   Aggiungi Media
  </button>
</div>
@if (loading) {
  <div class="progress progress-indeterminate">
    <span class="visually-hidden">In elaborazione...</span>
    <div class="progress-bar" role="progressbar"></div>
  </div>
}
<table class="table">
  <thead class="table-light text-center">
    <tr>
      <th scope="col">Tipologia</th>
      <th scope="col">Stato</th>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">Info</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
    <tbody class="text-center">
      @for (media of (listaMedia | paginator:centerCurrentPage:changerValue); track $index) {
        <tr>
            <td>
              @if(media.tipo == "image"){
                <it-icon size="sm" name="pencil"></it-icon>
              }
              @if(media.tipo == "video"){
                <it-icon size="sm" name="file-pdf"></it-icon>
              }
              @if(media.tipo == "pdf"){
                <it-icon size="sm" name="pencil"></it-icon>
              }

            </td>
            <td>{{media.stato}}</td>
            <td><u class="file-link">{{media.fileName}}</u></td>
            <td>{{media.data}}</td>
            <td>{{media.info}}</td>
            <td>
              <div class="buttons d-flex justify-content-center ">
                <button type="button" class="btn btn-outline-secondary icon-button mx-1" itTooltip="Download" >
                  <it-icon size="sm" name="download"></it-icon>
                </button>
                <button type="button" class="btn btn-outline-secondary icon-button mx-1" itTooltip="Modifica" >
                  <it-icon size="sm" name="pencil"></it-icon>
                </button>
                <button type="button"  class="btn btn-outline-secondary icon-button mx-1" (click)="modaleElimina(media)" itTooltip="Elimina">
                  <it-icon size="sm" name="delete"></it-icon>
                </button>
              </div>
            </td>
        </tr>
      }
    </tbody>
</table>
<it-pagination
[currentPage]="centerCurrentPage"
[visiblePages]="3"
[pageNumbers]="pagesNumber"
alignment="end"
[currentChanger]="changerValue"
[changerValues]="changerValues"
(changerEvent)="changerEvent($event)"
(pageEvent)="rightPageChange($event)"></it-pagination>

@if(!listaMedia.length){
  <div class="text-center">
    <h6>Nessun Media Trovato</h6>
  </div>
}


<div class="modal fade" tabindex="-1" role="dialog" id="eliminaModal" aria-labelledby="eliminaModalTitle" #eliminaModal>
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h2 class="modal-title h5 " id="eliminaModalTitle">Elimina Beneficiario</h2>
           <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
              <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close"></use></svg>
           </button>
        </div>
        <div class="modal-body">
           <p>Attenzione, Si sta per eliminare <strong>{{mediaToDelete?.fileName}}</strong>.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary btn-sm" type="button" data-bs-dismiss="modal" >Annulla</button>
          <button class="btn btn-primary btn-sm" type="button" (click)="eliminaMedia()" >Elimina</button>

        </div>
     </div>
  </div>
</div>
