<h2>Progetti</h2>
<table class="table">
    <thead class="dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <button class="btn icon-button" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#multiCollapseExample2" 
            aria-expanded="false" 
            aria-controls="multiCollapseExample2">
            <it-icon name="chevron-right"></it-icon>
        </button>

        </th>
        <td>Mario</td>
        <td>Verdi</td>
        <td>mario.verdi</td>

        
      </tr>
      <tr class="hidden-row">
        <td colspan="12">

            <div class="collapse " id="multiCollapseExample2">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
        </td>
      </tr>
 
  
      <tr>
        <th scope="row">2</th>
        <td>Francesco</td>
        <td>Bianchi</td>
        <td>	francesco.bianchi</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Alessandro</td>
        <td>Rossi</td>
        <td>alessandro.rossi</td>
      </tr>
    </tbody>
  </table>
