<div class="toolbar d-inline-flex align-items-center">
  <h2>Progetti</h2>
  <button class="btn btn-secondary ms-auto" type="button" 
  (click)="aggiungiProgetto()"
  [isAdmin]="(userRole | role)"
  [action]="'display-none'">
    Aggiungi Progetto
  </button>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="secondary-background">
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-1">Programma</th>
            <th scope="col" class="col-2">Fondo</th>
            <th scope="col" class="col-1">Progetto</th>
            <th scope="col" class="col-2">Area Scientifica</th>
            <th scope="col" class="col-2">Output</th>
            <th scope="col" class="col-2">Finanziamento Ricevuto</th>
            <th scope="col" class="col-1">Azioni</th>
          </tr>
        </thead>
        <tbody>
            @for (progetto of progetti; track $index) {

                <tr>
                  <th scope="row">
                    <button class="btn icon-button" type="button"
                      data-bs-toggle="collapse"
                      attr.data-bs-target="#{{progetto.codice}}"
                      aria-expanded="false"
                      attr.aria-controls="{{progetto.codice}}">
                      <it-icon name="chevron-right"></it-icon>
                  </button>

                  </th>
                  <td>{{progetto.programma}}</td>
                  <td>{{progetto.fondo}}</td>
                  <td>{{progetto.area}}</td>
                  <td>{{progetto.codice}}</td>
                  <td>{{progetto.output}}</td>
                  <td style="text-align: center;">{{progetto.finanziamento  |  currency:'EUR':'symbol':'4.2-2':'it-IT'}}</td>
                  <td>
                    <div class="buttons d-flex align-item-center justify-content-between">
                      <button type="button" class="btn btn-outline-secondary icon-button">
                        <it-icon size="sm" name="pencil"></it-icon>
                      </button>
                      <button type="button"  class="btn btn-outline-secondary icon-button ">
                        <it-icon size="sm" name="file-video"></it-icon>
                      </button>
                    </div>
                  </td>
          
                  
                </tr>
                <tr class="hidden-row">

                  <td class="col-12" colspan="12">

                      <div class="collapse" id="{{progetto.codice}}">
                        @if(progetto.beneficiari.length){

                          <table class="table table-sm table-striped">
                              <thead>
                                <tr class="dark-background">
                                  <th class="col-12" colspan="12">Elenco Beneficiari</th>
                                </tr>
                                <tr>
                                  <th scope="col">Beneficiario</th>
                                  <th scope="col">Ruolo</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Telefono</th>
                                  <th scope="col">Contributo Realizzato</th>
                                </tr>
                              </thead>
                              <tbody>
                                @for (beneficiario of progetto.beneficiari; track $index) {
                                  <tr>
                                      <td>{{beneficiario.nome}}</td>
                                      <td>{{beneficiario.ruolo}}</td>
                                      <td>{{beneficiario.email}}</td>
                                      <td>{{beneficiario.telefono}}</td>
                                      <td>{{beneficiario.contributo}}</td>
                                  </tr>
                                }
                              </tbody>
                            </table>
                        }@else {

                          <div class="card card-body">
                            Lista vuota
                          </div>
                        }
                      </div>
                  </td>
                </tr>
            }


        </tbody>
      </table>
</div>
