

.hidden-row{
    
    border-color:transparent ;
    td{
        padding: 0;
    }
    
}

td,th{
    vertical-align: middle;
}
th{
    button{
        transition: all 0.3s;
    }
    button[aria-expanded=true]{
        transform: rotateZ(90deg);
        // it-icon{
        //     
        // }
    }
}
.icon-button{
    padding: 0.2rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    // it-icon{
    //     box-sizing: border-box;
    // }

    // &:focus{
    //     outline: 0;
    // }
}