/* You can add global styles to this file, and also import other style files */
@import url(./themes/bootstrap-italia-custom.scss);


.dark-background{
    background-color: var(--dark);
    color: white;
}
.primary-background{
    background-color: var(--primary);
    color:white;
}
.secondary-background{
    background-color: var(--secondary);
    color: white;
}
.secondary-stroked{
    border: 2px solid var(--secondary);
}
.icon-button{
    padding: 0.2rem!important;
 
}
.toolbar-button{
    padding: 0.3rem 1rem!important;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
